
body {
    background-color: white;
}

/*Start Head sector */

.header {
    display: flex;
    top:64px;
    
}

.header h1 {
    font-size: 32px;
    width: 100%;
}

.header img {
    margin-left:64px;
}

.header ul {
    list-style-type: none;
    display:flex;
    padding-top: 15px;
    margin-left: 340px;
    min-width: 400px;
}

.header li {
    margin-left:20px;
    font-size: 16px;
    
}

a {
    text-decoration:none;
    color:gray;
}

/*Start Main sector */

.main {
    background-color: rgb(197, 191, 191);
    display:flex;
   

}

.mainright img{
    padding: 32px 24px 32px 24px;
    max-width: 90%;
    
}

.mainleft {
    
    display:block;
    text-align: center;
    align-items:center;
    margin:auto;
}


.mainleft h1 {
    color:black;
    font-size: 54px;
}


.mainleft h2 {
    color:black;
    font-size: 30px;
}

.mainleft button {
    background-color: black;
    color:white;
    border:none;
    margin-bottom:12px;
    font-size: 30px;
    width: 50%;
}


/*Start Second Main sector */