
body {
    background-color: white;
    font-family: verdana;
}

/*Start Head sector */

.header {
    display: flex;
    top:64px;
    justify-content: space-between;
}

.logo{
    display:flex;
    width:100%;
}

.header h1 {
    font-size: 32px;
}

.header img {
    margin-left:64px;
}

.header ul {
    list-style-type: none;
    display:flex;
    padding-top: 15px;
    width:100%;
    justify-content: flex-end;
    padding-right:5%;
}

.header li {
    margin-left:20px;
    font-size: 16px;
}

a {
    text-decoration:none;
    color:gray;
}

/*Start Main sector */

.main {
    background-color: rgb(229, 222, 222);
    display:flex;       
}

.mainleft{
    padding: 32px 24px 32px 24px;
}

.mainleft img{
    width:100%;
}
.mainright {
    text-align: left;
    margin:auto;
    width:40%;
}

.mainright h1 {
    color:rgb(74, 70, 70);
    font-size: 44px;
}


.mainright h2 {
    color:rgb(74, 70, 70);
    font-size: 25px;
    margin-bottom: 25px;
}

.mainright button {
    background-color: rgb(85, 82, 82);
    color:white;
    border:none;
    font-size: 30px;
    text-align:center;
    width: 80%;
    padding: 10px 0;
    font-family: arial, sans-serif;
    margin-top:25px;
}

/*Start Second Main sector */

.second_main{ 
    display: flex;
}

.second_main_left{
    width:65%;
    margin: 32px 24px 32px 24px;
    font-size: 18px;
}

.second_main_left h2 {
    font-size: 30px;;
}


.second_main_left img{
    width: 100%;
    display: flexi;
    flex-direction: column;
}

.second_main_right {
    text-align: left;
    margin-left: 24px;
    width:40%;
    margin: 32px 24px 32px 24px;
}

.img-right {
    display: flex;
    margin-bottom: 10%;
}

.img-right img{
    width:55%;
    height:auto;
}

.img-right-right {
    margin-left: 20px;
    width:100%;
    margin-bottom:15px;
}

.img-right-right h3 {
    color:black;
}

.img-right-right a {
    color:rgb(69, 110, 186);
}

/*Start Third Main sector */

.third_main {
    background-color: rgb(229, 226, 226);
    margin: 32px 24px;
}

.third_main h2 {
    font-size: 45px;
    color: rgb(199, 194, 194);
    padding:32px 0;
    text-align: center;
}

.third_main_bottom {
    display: flex;
    justify-content: center;
}

.third_main_inside {
    background-color: rgb(239, 236, 236);
    margin:20px;
    
}

.third_main_inside h3 {
    font-size: 22px;
}

/*Start Footer sector */

.footer {
    display: flex;
    flex-direction: column;
    
}
.footer_text_up {
    text-align: center;
    font-size: 30px;
    color: rgb(122, 124, 126);
}

.footer_bottom {
    display: flex;
}

.footer_left {
    margin-left:24px;
    width:60%;
}

.footer_left h3 {
    font-size: 35px;
}

.footer_left p {
    font-size: 20px;;
}

.footer_right {
    margin-left: 24px;
}

.footer_right_inside {
    display: flex;
    align-content: center;
    margin-top: 20px;
    background: white;
}

.footer_right_inside img {
    margin:25px;
}

.footer_landa {
    display: flex;
    flex-direction: column;
    padding-left:  20px;
    
}

.footer_landa h3 {
    font-size: 32px;;
}

.footer_landa p {
    font-size: 22px;
}

#speciale {
    background-color: rgb(205, 199, 199);
}

/*Start Superfooter sector */

.superfooter{
    margin-top:25px;
    display: flex;
    justify-content: space-between;
}

.superfooter ul {
    display: flex;
    list-style: none;
}

.superfooter li {
    margin-left: 20px;
}
