.header {
    display: flex;
    top:64px;
}

.header h1 {
    font-size: 32px;
    width: 100%;
}

.header img {
    margin-left:64px;
}

.header ul {
    list-style-type: none;
    display:flex;
    padding-top: 15px;
    margin-left: 340px;
    min-width: 400px;
}

.header li {
    margin-left:20px;
    font-size: 16px;
}

a {
    text-decoration:none;
}